body {
    font-family: 'Franklin Gothic Light', sans-serif;
    letter-spacing: 0.06rem;
}

nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

.nav-links {
    gap: 1.5rem;
    list-style: none;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: darkgray;
    transition: all 0.1s ease; 
}

a:hover {
    color: cornflowerblue;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.4rem;
}

#buttons {
    display: flex;
    gap: 0.5rem;
}

.btn {
    position: relative;
    background: none;
    border: none; /* Remove borders */
    color: darkgray; /* White text */
    transition: color 0.3s ease;
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.btn:hover {
    color: cornflowerblue;
}


.btn::after {
    content: attr(title);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: cornflowerblue;
    color: white;
    padding: 3px 4px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Franklin Gothic Light', sans-serif;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.btn:hover::after {
    opacity: 1;
}

#headshot {
    border-radius: 50%; 
    width: 50px; 
    height: 50px;
    padding: 10px;
}

#resume-highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Set the container height to match the viewport */
}

#resume-image {
    width: 30vw;
    height: 80vh;
    max-width: 100%; /* Ensure the image doesn't exceed container width */
    max-height: 100%; /* Ensure the image doesn't exceed container height */
    box-shadow: 0 0 50px cornflowerblue;
}

.image-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

.download-btn {
    cursor: pointer;
    border: white;
    border-style: solid;
    border-width: 3px;
    padding: 12px;
    background-color: transparent;
    font-family: 'Franklin Gothic Light', sans-serif;
    font-size: 18px;
    color: white;
    transition: all 0.5s ease;
}

.download-btn:hover {
    color: cornflowerblue;
    border: cornflowerblue;
    border-style: solid;
    border-width: 3px;
    background-color: white;
    transition: all 0.3s ease;
}
